* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", "Pretendard", sans-serif;
  font-size: 16px;
  color: #fff;
  background-color: #333;
}

li {
  list-style: none;
}

img {
  width: 200px;
}

header {
  color: #111;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    font-weight: 700;
  }
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  padding: 60px 40px 0;

  > li {
    display: flex;
    width: 50%;
    margin-bottom: 50px;
  }

  &-txt {
    padding: 0 30px;
  }
}

.btn {
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  &-more {
    background: none;
    border: none;
    font-size: 20px;
    padding: 15px;
    color: #fff;
  }
}
