* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", "Pretendard", sans-serif;
  font-size: 16px;
  color: #fff;
}

li {
  list-style: none;
}

img {
  width: 350px;
}

header {
  color: #111;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    font-weight: 700;
  }
}

.movie-list {
  background-color: #333;
  display: flex;
  flex-wrap: wrap;
  padding: 60px 40px;

  > li {
    display: flex;
    width: 50%;
    margin-bottom: 50px;
  }

  &-txt {
    padding: 0 30px;
  }
}
